@use "sass:math";
@use "sass:list";

@function clampCalc($max, $min) {
    $val: #{math.div($max, 12.8)}vw;
    @if ($max > 0) {
        @return clamp(#{$min}px, $val, #{$max}px);
    } @else {
        @return clamp(#{$max}px, $val, #{$min}px);
    }
}

$primary-color: #00b65d;
$background-color: #e9e9e9;
$Noto-Sans-TC: "Noto Sans TC", sans-serif;

#green-tea-history {
    line-height: initial;
    font-family: $Noto-Sans-TC;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: $background-color;

    .fs-40px {
        line-height: 1.575;
        font-size: clampCalc(40, 20);
    }
    .fs-34px {
        font-size: clampCalc(34, 16);
    }
    .fs-20px {
        font-size: clampCalc(20, 14);
    }
    .fs-18px {
        font-size: clampCalc(18, 14);
    }
    .leading-2\.5 {
        line-height: 2.5;
    }
    .leading-2 {
        line-height: 2;
    }

    .fw-medium {
        font-weight: 500;
    }

    .fw-heavy {
        font-weight: 900;
    }
    .uppercase {
        text-transform: uppercase;
    }
    .text-white {
        color: #fff;
    }
    .text-green {
        color: $primary-color;
    }
    .text-center {
        text-align: center;
    }
    .mt-auto {
        margin-top: auto;
    }
    .mt-36px {
        margin-top: clampCalc(36, 0);
    }
    .mt-48px {
        margin-top: clampCalc(48, 0);
    }
    .mt-52px {
        margin-top: clampCalc(52, 0);
    }
    .mt-72px {
        margin-top: clampCalc(72, 0);
    }

    .mt-120px {
        margin-top: clampCalc(120, 0);
    }
    .p-0 {
        padding: 0;
    }
    .md\:p-32px {
        @media (min-width: 768px) {
            padding: clampCalc(32, 0);
        }
    }
    .px-70px {
        padding-left: clampCalc(70, 0);
        padding-right: clampCalc(70, 0);
    }
    .flex {
        display: flex;
    }
    .flex-col {
        flex-direction: column;
    }
    .sm\:flex-row {
        @media (min-width: 640px) {
            flex-direction: row;
        }
    }
    .md\:flex-row {
        @media (min-width: 768px) {
            flex-direction: row;
        }
    }
    .items-center {
        align-items: center;
    }
    .center {
        display: flex;
        > * {
            margin: auto;
        }
    }
    .header {
        display: flex;
        background-image: url("../assets/header-bg.webp");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        padding: 5.46875vw;
        height: 100dvh;
        p {
            text-shadow: 2px 3px 4px rgba(16, 16, 16, 0.5);
        }
    }
    .origin {
        .center > div {
            max-width: 1138px;
        }
        .pic-grid img {
            width: 100%;
        }
        @media (min-width: 768px) {
            .pic-grid img {
                width: clampCalc(664, 0);
            }
        }
    }
    .product {
        > div {
            position: relative;
        }
        .flex {
            max-width: 1138px;
            gap: 8px;
            align-items: stretch;
        }
        .text {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-end;
            padding: clampCalc(43, 0);
            background-image: url("../assets/green-tea-bg.webp");
            background-repeat: no-repeat;
            background-size: cover;
            @media (min-width: 640px) {
                width: clampCalc(454, 0);
            }
            img {
                width: 75%;
                @media (min-width: 640px) {
                    width: 100%;
                }
            }
        }
        .swiper {
            width: 89.0625vw;
            @media (min-width: 640px) {
                width: clampCalc(674, 0);
            }
            .swiper-wrapper {
                display: flex;
                align-items: stretch;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .green-tea-pagination.swiper-pagination-bullets {
            position: absolute;
            --swiper-pagination-bottom: -20px;
            right: 0;
            left: initial;
            width: 89.0625vw;
            @media (min-width: 640px) {
                width: clampCalc(674, 0);
            }
            .swiper-pagination-bullet {
                --swiper-pagination-bullet-width: 16.666%;
                --swiper-pagination-bullet-height: 2px;
                --swiper-pagination-bullet-border-radius: 0;
                --swiper-pagination-bullet-inactive-color: #929292;
                --swiper-pagination-bullet-inactive-opacity: 0.3;
                --swiper-pagination-bullet-horizontal-gap:0;
            }
            .swiper-pagination-bullet-active {
                --swiper-pagination-bullet-width: 16.666%;
                --swiper-pagination-bullet-height: 2px;
                --swiper-pagination-color: #929292;
            }
        }
    }
    .lab {
        p.fs-20px br {
            display: none;
            @media (min-width: 640px) {
                display: block;
            }
        }
        .flex {
            width: 89.0625vw;
            max-width: 1138px;
            align-items: center;
            justify-content: space-evenly;
            background-color: #fff;
            img:nth-of-type(1) {
                width: clampCalc(216, 0);
            }
            img:nth-of-type(2) {
                width: clampCalc(116, 0);
            }
            img:nth-of-type(3) {
                width: clampCalc(130, 0);
            }
            img:nth-of-type(4) {
                width: clampCalc(110, 0);
            }
        }
    }
    .learn-more {
        > p {
            width: 89.0625vw;
            max-width: 1138px;
        }
        .swiper-p {
            width: 89.0625vw;
            max-width: 1138px;

            .swiper-slide {
                img {
                    width: 100%;
                }
                p {
                    margin-top: 1em;
                }
                a {
                    color: #929292;
                    margin-top: 0.8em;
                }
            }
            .swiper-pagination-bullets { 
                .swiper-pagination-bullet {
                    --swiper-pagination-bullet-width: 20%;
                    --swiper-pagination-bullet-height: 2px;
                    --swiper-pagination-bullet-border-radius: 0;
                    --swiper-pagination-bullet-inactive-color: #929292;
                    --swiper-pagination-bullet-inactive-opacity: 0.3;
                    --swiper-pagination-bullet-horizontal-gap:0;
                }
                .swiper-pagination-bullet-active {
                    --swiper-pagination-bullet-width: 20%;
                    --swiper-pagination-bullet-height: 2px;
                    --swiper-pagination-color: #929292;
                }
            }
        }
    }
    .more {
        padding-bottom: clampCalc(36, 0);
        > p {
            margin-top: clampCalc(72, 0);
            margin-bottom: clampCalc(36, 0);
        }
        .flex {
            gap: 4px;
            justify-content: center;
            .href:first-of-type {
                background-image: url("../assets/about-us.webp");
            }
            .href:last-of-type {
                background-image: url("../assets/better-for-earth.webp");
            }
        }
        .href {
            background-repeat: no-repeat;
            background-size: cover;
            width: clampCalc(567, 0);
            height: clampCalc(178, 0);
            display: flex;
            align-items: center;
            padding-left: 1.5%;
            a {
                span:last-of-type {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    img {
                        margin-top: 1%;
                        max-width: 28px;
                        width: 2.1875vw;
                    }
                }
            }
        }
    }
}
